<header id="app-header" class="main-header" [class.menu-open]="isMenuOpen">
  <div class="header-container container">

    <!-- Logo -->
    <div class="logo-section" [routerLink]="['/home']">
      <div class="logo-circle">
        <img src="assets/images/logo.png" alt="AutoPro Logo">
      </div>
      <span class="logo-text">AutoPro</span>
    </div>

    <!-- Navigation links -->
    <nav class="nav-links">
      <div class="nav-item" *ngFor="let item of navItems">
        <a [routerLink]="[item.route]" class="nav-item">{{item.label}}</a>
        <ion-badge color="danger" class="cart-badge"
          *ngIf="item.label === 'Cart' && cartQty > 0">{{cartQty}}</ion-badge>
      </div>
    </nav>


    <!-- Header Actions -->
    <div class="header-actions">
      <ng-container *ngIf="userProfile$ | async as user; else guest">
        <button class="action-link sign-in" routerLink="/profile">
          <ion-icon name="person-circle-outline"></ion-icon>
          <span>{{ user.firstName || 'Account' }}</span>
        </button>
      </ng-container>
      <ng-template #guest>
        <button class="action-link sign-in" routerLink="/login">
          <ion-icon name="person-circle-outline"></ion-icon>
          <span>Sign in</span>
        </button>
      </ng-template>

      <!-- Mobile Menu Toggle -->
      <button class="mobile-toggle" (click)="toggleMenu()">
        <ion-icon [name]="isMenuOpen ? 'close-outline' : 'menu-outline'"></ion-icon>
      </button>
    </div>

  </div>

  <!-- Mobile Menu Overlay -->
  <div class="mobile-menu container" [class.open]="isMenuOpen">
    <a *ngFor="let item of navItems" [routerLink]="[item.route]" (click)="isMenuOpen = false">{{item.label}}</a>
    <a *ngIf="(userProfile$ | async)" (click)="logout(); isMenuOpen = false" class="logout-link">Logout</a>
  </div>
</header>