ion-content {
  --background: #ffffff !important;
}



.login-page {
  display: flex;
  min-height: 100dvh;
  flex-direction: row;
  padding-top: env(safe-area-inset-top, 0px);
  box-sizing: border-box;
}

.visual-panel {
  width: 52%;
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  overflow: hidden;
  background-image:
    linear-gradient(rgba(var(--main-bg-color-rgb), 1), rgba(var(--main-bg-color-rgb), 0.6)),
    url("/assets/images/main-bg.png");
  background-size: cover;
  background-position: center;
  padding-right: 80px;
}

.hero-content {
  position: relative;
  text-align: center;
  color: var(--ion-color-primary-contrast);

  .logo {
    width: 120px;
    margin-bottom: 8px;
  }
}

.hero-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 8px;
}

.hero-subtitle {
  font-size: 22px;
  opacity: 0.95;
}

.form-panel {
  width: 48%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 60px;
  background: var(--ion-color-primary-contrast);
  position: relative;
}

.form-panel::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50px;
  width: 60px;
  height: 100%;
  background: var(--ion-color-primary-contrast);
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
}

.form-container {
  width: 100%;
  max-width: 420px;
}

.brand {
  margin-bottom: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.brand-label {
  color: var(--main-bg-color);
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  margin-bottom: 6px;
}

.form-title {
  font-size: 18px;
  font-weight: 700;
  color: var(--dark-text-color);
  margin-bottom: 6px;
}

.form-subtitle {
  font-size: 14px;
  color: var(--text-color);
}

.form-input-group {
  margin-bottom: 18px;
  width: 100%;
}

.forgot-link {
  color: var(--main-bg-color);
  font-weight: 600;
  text-decoration: none;
  font-size: 14px;
}

.login-btn {
  --border-radius: 100px;
  font-weight: 700;
  font-size: 13px;
  min-width: 135px;
  height: 48px;
}

.signup-text {
  text-align: center;
  font-size: 14px;
  color: var(--text-color);
  margin-top: 8px;
}

.signup-text a {
  color: var(--main-bg-color);
  font-weight: 600;
  text-decoration: none;
}

// ion-input::part(native) {
//   display: flex;
//   align-items: center;
// }

@media (max-width: 768px) {
  .login-page {
    background-image:
      linear-gradient(rgba(var(--main-bg-color-rgb), 1), rgba(var(--main-bg-color-rgb), 0.6));
  }

  .visual-panel {
    display: none;
  }

  .form-panel {
    border-radius: 0 100px;
    width: 100%;
    padding: 40px 32px;
  }

  .form-panel::before {
    display: none;
  }

  .hero-title {
    font-size: 32px;
  }

  .hero-subtitle {
    font-size: 18px;
  }
}