<!-- <ion-content [fullscreen]="true">
  <h1>TEST RENDER - LOGIN</h1>
</ion-content> -->

<ion-content [fullscreen]="true">
  <div class="background-container">
    <div class="login-wrapper">
      <!-- Logo Branding -->
      <div class="branding">
        <div class="logo-box">
          <img src="assets/images/logo.png" alt="AutoProAPP Logo" class="logo">
        </div>
        <img src="assets/images/name-img.png" alt="AutoProAPP" class="app-name">
      </div>

      <!-- Help Text -->
      <div class="info-text">
        <p>To use AutoProAPP, you must have an account with American Key Supply. Please log in with your AKS account
          info below.</p>
        <p>Don't have an account yet? <a routerLink="/register">Create one now-really, it's easy!</a></p>
      </div>

      <!-- Login Form -->
      <div class="login-form">
        <ion-item lines="none" class="input-item">
          <ion-input type="email" placeholder="Enter Email Address"></ion-input>
        </ion-item>

        <ion-item lines="none" class="input-item">
          <ion-input type="password" placeholder="Enter Password"></ion-input>
        </ion-item>

        <div class="form-footer">
          <ion-button expand="block" class="login-btn">Log In</ion-button>
          <a href="#" class="forgot-link">Forgot Your Password?</a>
        </div>
      </div>
    </div>

    <!-- Footer Branding -->
    <div class="footer">
      <div class="footer-logo">
        <img src="assets/images/americankeysupply.png" alt="American Key Supply">
      </div>
      <div class="version">
        Version 1.0.0
      </div>
    </div>
  </div>
</ion-content>