<div class="profile-content">
  <div class="main-container container">

    <!-- Profile Header Card -->
    <app-breadcrumbs></app-breadcrumbs>
    <ng-container *ngIf="userProfile$ | async as user; else loading">
      <div class="d-flex w-100 gap-3 profile-outer-card">
        <div class="profile-card w-100">
          <div class="avatar-lg">{{ (user.firstName || 'U').substring(0, 1) }}</div>
          <div class="profile-info">
            <h2 class="user-name">{{ user.firstName }} {{ user.lastName }}</h2>
            <p class="member-since">
              <ion-icon name="calendar-outline"></ion-icon>
              Member ID: {{ user.customerID }}
            </p>
            <ion-button (click)="changePassword()" class="update-btn">
              Change Password
            </ion-button>
          </div>
        </div>

        <!-- Display Name Card -->
        <div class="display-name-card card-box flex-column w-100">
          <div class="left-col mb-2">
            <label>Email Address:</label>
            <div class="login-badge">
              <ion-icon name="mail-outline"></ion-icon>
              {{ user.email }}
            </div>
          </div>
          <div class="left-col">
            <label>Contact Phone</label>
          </div>
          <div class="right-col">
            <div class="input-wrapper">
              <ion-input type="text" [value]="user.phoneNumber"></ion-input>
            </div>
            <ion-button class="update-btn">
              <ion-icon slot="start" name="sync-outline"></ion-icon>
              Update
            </ion-button>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #loading>
      <div class="profile-card p-4 text-center">
        <p>Loading profile details...</p>
      </div>
    </ng-template>

    <!-- Devices Card -->
    <div class="devices-card card-box">
      <div class="device-header">
        <h3>Devices</h3>
      </div>
      <p class="device-subtext">
        You can have a maximum of 2 devices on your account. Remove a device to add a new one.<br>
        After removing, you can log in on a new device in 24 hours.
      </p>

      <div class="devices-grid">
        <!-- Active Device -->
        <div class="device-item">
          <div class="device-info-top">
            <div class="device-icon">
              <ion-icon name="phone-portrait-outline"></ion-icon>
            </div>
            <div class="device-details">
              <h4 class="m-0">iPhone 15,4</h4>
            </div>
          </div>
          <div class="device-id-box">
            <span class="id-label">Device ID</span>
            <span class="id-value">557F8955-586B-4BDD-9907-854D4CA398D0</span>
          </div>
          <ion-button class="remove-btn" fill="outline">
            <ion-icon slot="start" name="trash-outline"></ion-icon>
            Remove Device
          </ion-button>
        </div>

      </div>
    </div>

    <!--user details-->
    <div class="stats-section card-box" *ngFor="let item of userDetailsOptions">
      <div class="stats-header">
        <h3>{{item.label}}</h3>
      </div>
      <div class="stats-grid grid-3">
        <div class="stat-item" *ngFor="let userDetail of item.options">
          <div class="stat-icon-wrapper">
            <ion-icon [name]="userDetail?.icon"></ion-icon>
          </div>
          <div class="stat-info">
            <span class="stat-label">{{userDetail?.label || ''}}</span>
            <span class="stat-value ">{{userDetail?.value || ''}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>