<ion-content>
  <div class="modal-overlay">
    <div class="modal-box">
      <div class="modal-header">
        <h3>Add New Address</h3>
        <ion-button fill="clear" (click)="onCancel()"><ion-icon name="close-outline"></ion-icon></ion-button>
      </div>

      <div class="modal-body">
        <ion-input class="card-input" placeholder="Address Nickname (ie. Work)" [(ngModel)]="nickname"></ion-input>

        <div class="row two">
          <ion-input class="card-input" placeholder="First Name" [(ngModel)]="firstName"></ion-input>
          <ion-input class="card-input" placeholder="Last Name" [(ngModel)]="lastName"></ion-input>
        </div>

        <ion-input class="card-input" placeholder="Company Name" [(ngModel)]="company"></ion-input>
        <ion-input class="card-input" placeholder="Address Line 1" [(ngModel)]="addressFirstLine"></ion-input>
        <ion-input class="card-input" placeholder="Address Line 2" [(ngModel)]="addressSecondLine"></ion-input>

        <ion-select class="card-select" placeholder="Select Country" [(ngModel)]="country" (ionChange)="onCountryChange()" interface="popover">
          <ion-select-option *ngFor="let c of countries" [value]="c.code">{{ c.name }}</ion-select-option>
        </ion-select>

        <ion-select class="card-select" placeholder="State / Province" [(ngModel)]="state" interface="popover">
          <ion-select-option *ngFor="let s of filteredStates" [value]="s.code">{{ s.name }}</ion-select-option>
          <ion-select-option *ngIf="filteredStates.length === 0" value="">No states available</ion-select-option>
        </ion-select>

        <ion-input class="card-input" placeholder="City" [(ngModel)]="city"></ion-input>
        <ion-input class="card-input" placeholder="Zip / Postal Code" [(ngModel)]="postalCode"></ion-input>
        <ion-input class="card-input" placeholder="Phone Number" [(ngModel)]="phoneNumber" type="tel"></ion-input>

        <div class="actions">
          <ion-button expand="block" (click)="submit()" [disabled]="isSaving">{{ isSaving ? 'Saving...' : 'Submit' }}</ion-button>
          <ion-button expand="block" fill="outline" (click)="onCancel()">Cancel</ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
